<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>出租车添加页面</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
</head>
<body>
<!--顶部导航栏-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="http://localhost:8080/">旅游预订系统</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="http://localhost:8080/">首页 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8080/addFlight">添加信息</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8080/flightReservation">预订服务</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8080/queryFlight">查询信息</a>
            </li>
        </ul>
    </div>
</nav>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
<h3>请输入要添加的出租车信息：</h3>

<form th:action="@{/addCar}" method="post">

    <div class="form-group">
        <input name="cars_id" type="hidden" th:value="${car.cars_id}">
        <label>出租车型号</label>
        <input name="type" type="text" class="form-control" placeholder="出租车型号" th:value="${car.type}">
        <label>位置</label>
        <input name="location" type="text" class="form-control" placeholder="位置" th:value="${car.location}">
        <label>价格</label>
        <input name="price" type="text" class="form-control" placeholder="价格" th:value="${car.price}">
        <label>出租车数</label>
        <input name="numCars" type="text" class="form-control" placeholder="出租车数" th:value="${car.numCars}">
        <label>空余出租车数</label>
        <input name="numAvail" type="text" class="form-control" placeholder="空余出租车数" th:value="${car.numAvail}">
    </div>

    <button type="submit" class="btn btn-primary" onclick="javascript:alert('出租车信息已成功添加！')">添加</button>
</form>
</main>
</body>
</html>